<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>com.eai.servlet.AddComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDesign</servlet-name>
        <servlet-class>com.eai.servlet.ShowDesign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetComments</servlet-name>
        <servlet-class>com.eai.servlet.GetComments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.eai.servlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDesign</servlet-name>
        <url-pattern>/ShowDesign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetComments</servlet-name>
        <url-pattern>/GetComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
