/* 
    Document   : style
    Created on : Oct 24, 2010, 12:46:23 PM
    Author     : Tim Church
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html,body {font-size:12px; line-height: 20px; margin:0; padding:0; font-family:"Lucida Sans",Tahoma,"Sans Serif"; color: #000000; background-color: #FFFFFF; height:100%}
a  {color:#1b509e; text-decoration:none;}
a:hover {text-decoration:underline;}
a img {border:none;}
ul {margin:0; padding:0;}

#container {position:relative; height:auto !important; height:100%; min-height:100%}
#header {min-height:50px; padding:5px 0 0 30px; background-color:#DDD; border-bottom:2px solid #999;}
#header .logo {font-size:2.2em;}
#header a {color:#A02C2F;}
#main {width:800px; margin:0 auto; padding:50px 0; text-align:center;}
img.design {min-width:600px; min-height:300px; padding:8px; border:5px solid #CCC;}
#main #comments {text-align:left; width:500px; margin:50px auto 0 auto; padding-bottom:150px;}
#footer {position:absolute; bottom:0; width:100%; text-align:center; background-color:#DDD; border-top:2px solid #999; padding-top:5px; padding-bottom:15px;}
#footer ul {list-style-type:none;}

.addDesignForm {margin:30px auto 0;}
.addDesignForm th {text-align:right; padding-right:25px; padding-bottom:10px;}
.addDesignForm td {text-align:left;}