* {
	font-family: Helvetica, Georgia, Arial;
	font-size: 11pt;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

body {
	background-attachment: fixed;
	background-image: url("hollywood.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

div.center {
	text-align: center;
}

div.entry {
	margin-bottom: 5px;
}

div#main {
	margin: 0 auto;
	width: 400px;
}

div#movie_results {
	display: block;
}

div#rating_results {
	display: none;
}

div.results {
	background-color: #fff;
	border: 1px #77A1FF solid;
	padding: 10px;
}

div#tabs {
	padding: 5px;
}

div#twitter_results {
	display: none;
}

h1 {
	color: #fff;
	font-size: 50px;
	letter-spacing: -6px;
	line-height: 43px;
}

h2 {
	color: #fff;
	font-size: 9pt;
	font-variant: small-caps;
}

small {
	color: #666;
	font-size: 9pt;
}

span.tab {
	position: relative;
	top: 1px;
	padding: 5px;
}

span.tab_active {
	background-color: #fff;
	border-left: 1px #77A1FF solid;
	border-right: 1px #77A1FF solid;
	border-top: 1px #77A1FF solid;
}